<?xml version="1.0" ?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MC_Mod_Area"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.neoforged.devlaunch.Main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" &quot;@G:\\GitHub\\Mincraft-Server\\[ A0003 ] RPG Mod Work Area\\MC_Mod_Area\\build\\moddev\\serverRunProgramArgs.txt&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" &quot;@G:\\GitHub\\Mincraft-Server\\[ A0003 ] RPG Mod Work Area\\MC_Mod_Area\\build\\moddev\\serverRunVmArgs.txt&quot; &quot;-Dfml.modFolders=mcreator%%G:\\GitHub\\Mincraft-Server\\[ A0003 ] RPG Mod Work Area\\MC_Mod_Area\\bin\\main&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="G:\GitHub\Mincraft-Server\[ A0003 ] RPG Mod Work Area\MC_Mod_Area\run"></stringAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"></booleanAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"></booleanAttribute>
</launchConfiguration>